<div class="d-flex p-2 justify-content-center mt-5">
    <form [formGroup]="form" (ngSubmit)="login()">
        <div class="card bg-light mb-3 " style="max-width: 18rem;">
            <div class="form-group">
                <div class="card-header">
                    <label for="username">Username</label>
                </div>
                <div class="card-body">
                    <input type="text" id="username" class="form-control" formControlName="username" />
                </div>
            </div>
            <div *ngIf="form.controls.username.touched
&& !form.controls.username.valid" class="alert alert-danger">
                Username is required
            </div>
            <div class="form-group">
                <div class="card-header">
                    <label for="password">Password</label>
                </div>
                <div class="card-body">
                    <input type="password" id="password" class="form-control" formControlName="password" />
                </div>
            </div>
            <div *ngIf="form.controls.password.touched
&& form.controls.password.errors">

                <div style="background-color:rgb(214, 51, 10);" *ngIf="form.controls.password.errors.canNotContainSpace" class="alert alert-danger alert alert-danger animated inifinite bounce delay-2s">
                    Password can not contain space
                </div>

                <div style="background-color:rgb(214, 51, 10);" *ngIf="form.controls.password.errors.invalidLognin" class="alert alert-danger animated inifinite bounce delay-2s">
                    Username or Password is invalid
                </div>

                <div style="background-color:rgb(214, 51, 10);" *ngIf="form.controls.password.errors.required" class="alert alert-danger animated inifinite bounce delay-2s">
                    Password is required
                </div>

            </div>

            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>
